<div class="container text-center mt-4">
    <h1>Quienes Somos</h1>
</div>
<div class="container-fluid mt-4">
    <img src="assets/imgAboutUs/imgBanner.svg" class="w-100" alt="imgBanner">
    <h2 class="colorGray fs-3 text-center pt-5 textBanner">Déjate sorprender por TecnoShop, un espectáculo de conectividad y emoción. 
        <strong class="fontYellow">Disfruta del verdadero placer de la tecnología.</strong>
    </h2>
    <div class="d-flex align-items-center justify-content-center pt-4">
        <a href="#" class="btn btn-warning boton">Ir a las mejores ofertas</a>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-1 col-md-2 colorBlack">
            <img src="assets/imgAboutUs/imgSvg/cursorImg.svg" class="px-2 py-4 borderResponsive">
            <span class="d-none spanResponsive">Presencia virtual</span>
        </div>
        <div class="col-lg-11 col-md-10">
            <p class="fs-6 ps-2 parrafResponsive">En 2010 <strong> abrimos nuestra Tienda Virtual www.tecnoshop.com</strong>, con más de 1.000 referencias y la posibilidad de comprar en línea.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-1 col-md-2 colorYellow">
            <img src="assets/imgAboutUs/imgSvg/neveraImg.svg" class="px-2 py-4 borderResponsive">
            <span class="d-none spanResponsive">+1.600 referencias</span>
        </div>
        <div class="col-lg-11 col-md-10">
            <p class="fs-6 ps-2 parrafResponsive"><strong>Puedes elegir entre más de 1.600 referencias de electrodomésticos, tecnología, accesorios y consumibles, bajo un mismo techo.</strong> Algunas de estas referencias ahora las puedes comprar en línea en www.tecnoshop.com.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-1 col-md-2 colorBlack">
            <img src="assets/imgAboutUs/imgSvg/tiendasImg.svg" class="px-2 py-4 borderResponsive">
            <span class="d-none spanResponsive">Tiendas fisicas</span>
        </div>
        <div class="col-lg-11 col-md-10">
            <p class="fs-6 ps-2 parrafResponsive">Nuestras tiendas, con un diseño de vanguardia en un ambiente moderno y futurista, cuentan con el mejor surtido, variedad y metros de exhibición de tecnología de todas las marcas, con la mejor asesoría y precios del mercado.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-1 col-md-2 colorYellow">
            <img src="assets/imgAboutUs/imgSvg/airPlaneImg.svg" class="px-2 py-4 borderResponsive">
            <span class="d-none spanResponsive">Presencia nacional</span>
        </div>
        <div class="col-lg-11 col-md-10">
            <p class="fs-6 ps-2 parrafResponsive">Hoy contamos con tiendas en Bogotá, Medellín, Bucaramanga, Cali, Villavicencio, Tunja, Manizales, con despacho a nivel Nacional.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-1 col-md-2 colorBlack">
            <img src="assets/imgAboutUs/imgSvg/employsImg.svg" class="px-2 py-4 borderResponsive">
            <span class="d-none spanResponsive">100% colombiano</span>
        </div>
        <div class="col-lg-11 col-md-10">
            <p class="fs-6 ps-2 parrafResponsive"><strong>TecnoShop es una empresa 100% colombiana,</strong> ha significado la generación de empleos directos e indirecto. Velamos por la capacitación completa al personal, tanto en conocimiento de producto como en parámetros de atención y servicio.</p>
        </div>
    </div>
</div>