<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">MI TIENDA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tareas" routerLinkActive="active">Tareas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/privado" routerLinkActive="active">Private</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-container *ngIf="!authService.usuarioLogueado(); else cerrar">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registrarse</a>
          </li>
        </ng-container>
        <ng-template #cerrar>
          <li class="nav-item">
            <a class="nav-link">Hola, {{authService.getNameUser() | uppercase }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor" (click)="authService.cerrarSesion()">Cerrar sesión</a>
          </li>
        </ng-template>
        <li class="nav-item">
          <a class="nav-link cursor" routerLink="/carrito" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
