<footer class="bg-dark w-100 mt-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="py-3 my-2 bg-dark">
          <p><strong>Medios de pago</strong></p>
          <div class="d-flex justify-content-center align-items-center">
            <div class="text-center">
              <img src="assets/img-footer/amex-card-icon.png" class="w-50" alt="img-visa">
            </div>
            <div class="text-center">
              <img src="assets/img-footer/efecty-icon.png" class="w-50" alt="img-visa">
            </div>
            <div class="text-center">
              <img src="assets/img-footer/logo-banco-bog-icon-2020-v3.png" class="w-50" alt="img-visa">
            </div>
            <div class="text-center">
              <img src="assets/img-footer/logo-banco-davivi-icon-2020-v2.png" class="w-50" alt="img-visa">
            </div>
            <div class="text-center">
              <img src="assets/img-footer/logo-bancolo-icon-2020-v2.png" class="w-50" alt="img-visa">
            </div>
            <div class="text-center">
              <img src="assets/img-footer/logo-via.png" class="w-50" alt="img-visa">
            </div>
            <div class="text-center">
              <img src="assets/img-footer/mastercard-icon.png" class="w-50" alt="img-visa">
            </div>
            <div class="text-center">
              <img src="assets/img-footer/pse-icon.png" class="w-50" alt="img-visa">
            </div>
            <div class="text-center">
              <img src="assets/img-footer/visa-white-icon.png" class="w-50" alt="img-visa">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex flex-column align-items-center justify-content-center border-sm border-end mb-3">
        <img src="assets/img-footer/about-icon.png" alt="img-about" style="width:10%" class="mb-2">
        <h6>Sobre Nosotros</h6>
        <span>Colombiana de Comercio S.A.</span>
        <span><strong>NIT: </strong>890.900.943-1</span>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex flex-column align-items-center justify-content-center border-sm border-end mb-3">
        <img src="assets/img-footer/email-icon.png" alt="img-email" style="width:10%" class="mb-2">
        <h6>Email</h6>
        <span>sugerencias@mitienda.com</span>
        <span>comercial@mitienda.com</span>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex flex-column align-items-center justify-content-center border-sm border-end mb-3">
        <img src="assets/img-footer/contact-icon.png" alt="img-contact" style="width:10%" class="mb-2">
        <h6>Venta telefónica</h6>
        <span><strong>Servicio al cliente: </strong>(601) 407 3033</span>
        <span><strong>Venta Telefónica: </strong>(601) 746 8001</span>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex flex-column align-items-center justify-content-center">
        <h4 class="fw-bold">Nosotros</h4>
        <ul class="nav justify-content-center pb-3 mb-3 d-flex flex-column">
          <li class="nav-item"><a routerLink="/inicio" class="nav-link px-2 text-muted">Inicio</a></li>
          <li class="nav-item"><a routerLink="/productos" class="nav-link px-2 text-muted">Productos</a></li>
          <li class="nav-item"><a routerLink="/nosotros" class="nav-link px-2 text-muted">Nosotros</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center text-muted py-3">&copy; 2021 MI TIENDA</p>
      </div>
    </div>
  </div>
</footer>
