<footer class="bg-dark w-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="py-3 my-2 bg-dark">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a routerLink="/inicio" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a routerLink="/nosotros" class="nav-link px-2 text-muted">Nosotros</a></li>
          </ul>
          <p class="text-center text-muted">&copy; 2021 MI TIENDA - Proyecto Final Bootcamp</p>
        </div>
      </div>
    </div>
  </div>
</footer>
